In [4]:
import dataframe_short.display as dsd
import dataframe_short as ds
import pandas as pd
df_path = r"C:\Users\Heng2020\OneDrive\Python MyLib\Python MyLib 01\02 DataFrame\dataframe_short\tests\test_input\parquet\01 Credit Risk Customer.parquet"
df = pd.read_parquet(df_path)

In [6]:
df.head()

  checking_status  duration  ... foreign_worker class
0              <0       6.0  ...            yes  good
1        0<=X<200      48.0  ...            yes   bad
2     no checking      12.0  ...            yes  good
3              <0      42.0  ...            yes  good
4              <0      24.0  ...            yes   bad

[5 rows x 21 columns]

In [7]:
ds.value_counts(df["personal_status"])

                    count  count_prop
personal_status
male single           548       0.548
female div/dep/mar    310       0.310
male mar/wid           92       0.092
male div/sep           50       0.050

In [10]:
dsd.value_counts(df["duration"])

          count  count_prop
duration
24.0        184       0.184
12.0        179       0.179
18.0        113       0.113
36.0         83       0.083
6.0          75       0.075
15.0         64       0.064
9.0          49       0.049
48.0         48       0.048
30.0         40       0.040
21.0         30       0.030
10.0         28       0.028
60.0         13       0.013
27.0         13       0.013
42.0         11       0.011
11.0          9       0.009
20.0          8       0.008
8.0           7       0.007
4.0           6       0.006
45.0          5       0.005
7.0           5       0.005
39.0          5       0.005
14.0          4       0.004
13.0          4       0.004
33.0          3       0.003
28.0          3       0.003
54.0          2       0.002
16.0          2       0.002
22.0          2       0.002
47.0          1       0.001
5.0           1       0.001
26.0          1       0.001
72.0          1       0.001
40.0          1       0.001